.hero {
  min-height: 80vh;
  background: linear-gradient(to right,#000000aa, #000000aa), url("../public/img/hero-image.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  text-align: center;
  padding-top:10vh;
}

.hero img{
  width: 45vh;
}

.hero h2{
  font-size: 3em;
  font-weight: 400;
  margin-top: 10vh;
  margin-bottom:0;
}

.hero h1 {
  margin-top:0;
  font-size: 4em;
  font-weight:bolder;
}

.hero p {
  margin-top: 10vh;
  font-size: 1.5em;
  margin-bottom: 10vh;
}

.hero a {
  font-size: 1.5em;
  margin-top: 2em;
  padding-right: 3em;
  padding-left: 3em;
  border-radius: 20px;
}

.infoLeft, .infoRight {
  margin: 8vh 20vh 8vh 20vh;
  margin-top: 8vh;
  margin-bottom: 8vh;
  display: flex;
  align-items: center;
}

.infoLeft {
  text-align: left;
}

.infoRight {
  text-align: right;
}


.infoLeft h3, .infoRight h3 {
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 0;
}

.infoLeft p, .infoRight p {
  font-size: 1.2em;
}


.infoLeft img, .infoRight img {
  width: 35vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.banner {
  background: linear-gradient(to right,#000000aa, #000000aa), url("../public/img/data.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align:center;
  padding: 15em 1em 15em 1em;
}

.banner h3{
  font-size:1.3em;
  font-weight: 400;
  margin-bottom: 0;
}

.banner h2{
  margin-top: 1vh;
  font-size: 2.5em;
  font-weight: 400;
}

.strong {
  color: #3399FF;
}

.games {
  margin-top: 8em;
  margin-bottom: 5em;
  text-align: center;
}

.games h3{
  font-size: 2em;
  margin-bottom: 2vh;
}

.games p {
  margin-top: 0;
  font-size: 1.2em;
}


.gamesMoba, .gamesFps{
  padding-top: 8em;
  padding-bottom: 8em;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.gamesMoba {
  background: linear-gradient(to right,#000000aa, #000000aa), url("../public/img/moba.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.gamesFps {
  background: linear-gradient(to right,#000000aa, #000000aa), url("../public/img/fps.jpg");
  background-repeat: no-repeat;
  background-position: center;
}


.gamesMoba h1, .gamesFps h1 {
  font-weight: 900;
  font-size: 3.5em;
}

.gamesMoba p, .gamesFps p {
  font-weight: 500;
  font-size: 1.3em;
}

.subscribe {
  margin-top: 12em;
  margin-bottom: 10em;
  text-align: center;
}

.subscribe h2{
  font-size: 1.8em;
  text-transform: uppercase;
  margin-bottom: 2vh;
}

.subscribe h4 {
  margin-top: 0;
  font-weight: 500;
  font-size: 1.5em;
}

.subscribe p {
  margin-top: 3vh;
  font-size: 0.75em;
  opacity: 0.3;
}


.subscribe input {
  width: 50vh;
  margin-top: 4vh;
  margin-bottom: 6vh;
  font-size: 1.2em;
  border-radius: 30px;
  padding: 0.75em 1em 0.75em 1em;
}

.subscribe input::placeholder{
  font-weight: 400;
  font-size: 0.75em;
  opacity: 0.75;
}

.footer {
  margin-bottom: 4em;
  text-align: center;
}

.footer img {
  width: 30vh;
  margin-bottom: 0;
}

.footer p {
  margin-top: 0;
}

.footer a {
  font-size: 0.75em;
}

.legal {
  margin-left: 8em;
  margin-right: 8em;
}

@media screen and (orientation: portrait) {
 
  .hero {
    min-height:60vh;
  }

  .hero img{
    width: 30vh;
  }
  
  .hero h2{
    font-size: 2em;
    font-weight: 400;
    margin-top: 10vh;
    margin-bottom:0;
  }
  
  .hero h1 {
    margin-top:0;
    font-size: 3em;
    font-weight:bolder;
  }
  
  .hero p {
    margin-top: 5vh;
    font-size: 1.3em;
    margin-bottom: 5vh;
  }
  
  .infoLeft, .infoRight {
    margin-left:4vh;
    margin-right:4vh;
    text-align: center;
  }
  
  .infoLeft img, .infoRight img {
    width: 35vh;
  }

  .gamesMoba, .gamesFps {
    min-width:100%;
  }

  .subscribe input {
    width:80%;
  }

  .MuiGrid-spacing-xs-3 {
    margin:0;
    width:100%;
  } 
}
