
.verticalCenter {
  display: flex;
  align-items: center;
}


.hero {
  min-height: 80vh; /* These two lines are counted as one :-)       */
  background: linear-gradient(to right,#000000aa, #000000aa), url("../public/img/hero-image.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  text-align: center;
  padding-top:20vh;
}

.hero img{
  width: 40vh;
}

.hero h2{
  font-size: 3em;
  font-weight: 600;
  margin-top: 10vh;
}

.hero h1 {
  font-size: 4em;
  font-weight: 900;
}

.hero p {
  margin-top: 10vh;
  font-size: 2em;
}

.hero a {
  font-size: 1.5em;
  margin-top: 2em;
  padding-right: 3em;
  padding-left: 3em;
  border-radius: 20px;
}

.infoLeft, .infoRight {
  margin: 4em 10em 4em 10em;
  margin-top: 4em;
  margin-bottom: 4em;
  display: flex;
  align-items: center;
  text-align: left;
}

.infoLeft p, .infoRight p {
  font-size: 1.5em;
}


.infoLeft img, .infoRight img {
  width: 35vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.infoRight {
  text-align: left;
}


.mobile-spacing {
  margin-top: 0;
}



.banner {
  background: linear-gradient(to right,#000000aa, #000000aa), url("../public/img/data.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align:center;
  padding: 15em 1em 15em 1em;
}

.banner span {
  color: #3399FF;
}

.games {
  margin-top: 8em;
  margin-bottom: 4em;
  text-align: center;
}

.games p {
  font-size: 1.5em;
}


.gamesMoba, .gamesFps{
  padding-top: 8em;
  padding-bottom: 8em;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.gamesMoba {
  background: linear-gradient(to right,#000000aa, #000000aa), url("../public/img/moba.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.gamesFps {
  background: linear-gradient(to right,#000000aa, #000000aa), url("../public/img/fps.jpg");
  background-repeat: no-repeat;
  background-position: center;
}


.gamesMoba h1, .gamesFps h1 {
  font-weight: 900;
  font-size: 3.5em;
}

.gamesMoba p, .gamesFps p {
  font-weight: 600;
  font-size: 1.3em;
}

.subscribe {
  margin-top: 12em;
  margin-bottom: 10em;
  text-align: center;
}

.subscribe h2{
  text-transform: uppercase;
}

.subscribe h4 {
  font-weight: 600;
  font-size: 1.5em;
}

.subscribe p {
  margin-top: 2em;
  font-size: 1em;
  opacity: 0.5;
}


.subscribe input {
  width: 30em;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.2em;
  border-radius: 30px;
  padding: 0.75em 1em 0.75em 1em;
}

.subscribe input::placeholder{
  font-weight: 500;
  opacity: 0.75;
}

.footer {
  margin-bottom: 4em;
  text-align: center;
}

.footer img {
  width: 30vh
}

.footer a {
  font-size: 0.75em;
}

.legal {
  margin-left: 8em;
  margin-right: 8em;
}

@media screen and (orientation: portrait) {
  
  .infoLeft img, .infoRight img {
      float:none;
      display: block;
margin-left: auto;
margin-right: auto;

  }
  
  .mobile-spacing {
  margin-top: 4em;
  }
}